<div id="landing"  fxLayout="" fxLayout.xs="column" >
    <div class="landing_logo">
        <img class="landing_logo_image" src="../../assets/images/image1.jpg">
        
    </div>
    
    <div  class="landing_nav" fxLayoutAlign="end end">
        <button  mat-button routerLink=''>HOME</button>
        <button mat-button>ABOUT</button>
    </div>

    <div class="landing_tag_line"> 
        <h1>WHO WE ARE?  WHAT WE DO?</h1>
    </div>
    <div class="landing_tag" fxLayout="column" fxLayoutAlign="center">       
        <button mat-raised-button color="warn" routerLink="" id="landing_tag_button">GO TO HOME</button>
    </div>
    <div class="landing_bg" fxLayout="" >
        
        <img class="landing_bg_img1" src="../../assets/images/image4.jpg">

    
    </div>
    <div class="landing_left"  fxLayoutAlign="end center">
        <img class="landing_bg_img2" src="../../assets/images/introduction.jpg">
    </div>
</div> 
<div class="about_section">
          <mat-grid-list cols="4" rowHeight="200px">
            <mat-grid-tile [colspan]="3" [rowspan]="1">
              <div class="text">
              <h1>NTRODUCTION</h1><br>
              <p>Société Générale S.A., often nicknamed "SocGen", is a French multinational investment bank and financial services company headquartered in Paris, France.</p>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="2">
              
            <img height="200px" width="300px" src="../../assets/images/2000px-Société_Générale.svg.png">
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <div class="text">
                <h1>WHAT WE DO?</h1><br>
                <p>The company is a universal bank and has divisions supporting French Networks, Global Transaction Banking, International Retail Banking, Financial Services, Corporate and Investment Banking, Private Banking, Asset Management and Securities Services. </p>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div>

                <h1>HISTORY</h1>
                <p>Société Générale is one of the oldest banks in France. Founded in 1864, its original name was Société Générale pour favoriser le développement du commerce et de l'industrie en France (English: General Company to Support the Development of Commerce and Industry in France). </p>
              </div>
            </mat-grid-tile>
          </mat-grid-list>

</div>
