#landing{
    width: 100%;
    height: 70%;
    position: absolute;
    box-shadow: 8px 1px 35px -14px #000002;
}
.landing_bg,.landing_bg_img1{
    height:100%;
    width: 85%;
    background-size: contain;
}
.landing_left{
    
    align-items:last baseline !important;
}
.landing_bg_img2,.landing_search{
   
    position: absolute;
}
.landing_nav{
   position: absolute;
   width: 100%;
   float: right;
   top:20px;;
}
.landing_logo_image{
    height: 100px;
    width: 150px;
    position: absolute;
}
.landing_button_check{
        position: absolute;
        border-radius: 30px;
        background-color: white;
    
}
.landing_tag,.landing_tag_line{
        position: absolute;
        height: 100%;
        z-index: 10;
    }
.landing_tag_line{
    top:150px;
    left:30px;
    

    font-family: 'Merriweather', serif;

color: #123;
font-weight: bold;
}
#landing_tag_button{
        left:90px;
        z-index: 10;
    }
    @media(max-width:600px){
         .landing_bg_img2{
            height: 175px;
         }
    }
.landing_scroll,.landing_search{
    position: absolute;
    
        }

.landing_search > input{
border-radius: 30px;

}
.landing_search{
        left: 40%;
        top: 10px;
}
    
.example-full-width{
    z-index: 10;
    width: 240px;
}
.landing_nav > button{
    font-size: 16px !important;
}