<div id="header">
    <div class="header_list"><br>
        <ul>
          <li><button mat-button routerLink="">Home</button></li><br>
          <li><button mat-button routerLink="about">About</button></li><br>
          <li><button mat-button>Blogs</button></li>
        </ul>
    </div>
      <div fxLayoutGap="20px" fxLayout="column" fxLayoutAlign="center center" class="header_social">
        <div fxLayoutGap="20px">
          <a><i class="material-icons">phone</i></a>
          <a><i class="material-icons">email</i></a>
          <a><i class="material-icons">chat</i></a>
        </div>
       
        <div>
          <p>"Either way, I think we can all do with a bit more spark to help us perform miracles and live in joy."</p>
        </div>          
      </div>
        <div fxLayoutAlign="end start" class="header_add">
              <p>Address: Voyager Building,<br> 10th Floor, ITPB,<br> Whitefield Rd, Pattandur Agrahara,<br> ITPB, Bengaluru, Karnataka 560066</p>
        </div>
</div>